
body {
  text-align: center;
  background-color: aliceblue;
}


  .cols {
      display: flex; 
      flex-direction: column;
      width: 100%;
      
     
      
  }

  #block {
    
    height: 100%;
    box-shadow: 1px 1px 3px rgb(85, 84, 84);
    
    
  }



  #main {
    
    display: flex;
    border: 2px solid rebeccapurple;
    border-radius: 5px;
    box-shadow: 10px 10px rgb(173, 173, 173);
    background-color: rgb(138, 156, 156);
    height: 500px;
    width: 500px;
    margin: auto;
    
  }

  .btn {
    margin-bottom: 40px;
    
    
  }


  h1 {
    font-family: londrina sketch;
    font-size: 40px;
  }


 


  
  